img{
    align-content: center;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

header {
    text-align: center;
    font-size: 5em;
    color: #00ff2a;
    margin-top: 20px;
}

h2 {
    align-content: left;
    font-size: 2em;
    color: #00ff2a;
    margin-top: 20px;
}

#PortalGif {
    background-image: url('dreamcoreeyes.jpg');
    background-size: cover;
    background-position: center;
}